@import url('../../style-variables/styleVariables.css');

.shoe-card {
    border: 1px solid var(--light-grey);
    width: 75%;
    margin: 5% auto;
    width: 390px;
}

.shoe-img-container {
    width: 100%;
}

.shoe-img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.shoe-titles-container {
    height: 60%;
}

.shoe-title {
    font-size: 1.5rem;
    margin-bottom: 2%;
}

.shoe-brand-name {
    margin-top: 2%;
}

.shoe-info-container {
    padding: 0 5px;
}

.shoe-stock-container {
    height: 40%;
}

.sizes-container {
    display: flex;
    margin-top: 2%;
}

.stock-size {
    margin-right: 5%;
    border: 1px solid var(--light-grey);
    padding: 5px;
    border-radius: 10px;
}

.buy-shoe-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20%;
}

.buy-shoe {
    width: 60%;
    background-color: #10d60f;
    border: 0;
    outline: 0;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
}


@media(min-width: 768px) {

    .shoe-card {
        width: 45%;
    }
    
}

@media(min-width: 1024px) {

    .shoe-card {
        width: 33%;
    }
    
}

@media(min-width: 1250px) {

    .shoe-card {
        width: 23%;
    }
    
}
