:root {
    --light-grey: #cdcdcd;
    --regular-blue: #03396c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Asap Condensed", sans-serif;
}

main {
    padding: 16px;
}